body {
    background-color: black;
    user-select: none;
}

.menu-border {
    margin: 0 auto;
    border: 2px solid #464646;
    border-radius: 25px;
    padding-top: 70px;
    padding-bottom: 70px;
    width: 1187px;
    position: relative;
}

.vertical-line-1 {
    display: inline;
    position: absolute;
    bottom: 0px;
    height: 140.5px;
    left: 324px;
    width: 2px;
    background-color: #464646;
}

.vertical-line-2 {
    display: inline;
    position: absolute;
    top: 0;
    height: 70px;
    left: 955px;
    width: 2px;
    background-color: #464646;
}

.vertical-line-3 {
    display: inline;
    position: absolute;
    bottom: 0;
    height: 70px;
    left: 830px;
    width: 2px;
    background-color: #464646;
}

.horizontal-line {
    display: inline;
    position: absolute;
    bottom: 60px;
    left: 325px;
    width: 863px;
    height: 2px;
    background-color: #464646;
    border: none;
}

.projectlink {
    font-family: sans-serif;
    color: #b8b8b8;
    text-decoration: none;
    display: inline;
    position: absolute;
    top: 28px;
    left: 532px;
}

.projectlink:hover {
    border-bottom: 2px solid #b8b8b8;
}

.aboutlink {
    font-family: sans-serif;
    color: #b8b8b8;
    text-decoration: none;
    display: inline;
    position: absolute;
    top: 28px;
    left: 631px;
}

.aboutlink:hover {
    border-bottom: 2px solid #b8b8b8;
}

.teamlink {
    font-family: sans-serif;
    color: #b8b8b8;
    text-decoration: none;
    display: inline;
    position: absolute;
    top: 28px;
    left: 725px;
}

.teamlink:hover {
    border-bottom: 2px solid #b8b8b8;
}

.contactlink {
    font-family: sans-serif;
    color: #b8b8b8;
    text-decoration: none;
    display: inline;
    position: absolute;
    top: 28px;
    left: 816px;
}

.contactlink:hover {
    border-bottom: 2px solid #b8b8b8;
}

.ham-menu-container {
    color: #b8b8b8;
    text-decoration: none;
    position: absolute;
    display: inline-block;
    top: 28px;
    right: 77.7px;
}

.ham-menu {
    display: block;
    width: 74px;
    height: 1px;
    background-color: #b8b8b8;
    margin-bottom: 6px;
}

.ham-menu-container:hover .ham-menu {
    height: 1.5px;
}

.flipped-pencil {
    transform: scaleX(-1);
    text-decoration: none;
    font-family: sans-serif;
    color: #b8b8b8;
    display: inline;
    position: absolute;
    bottom: 0px;
    left: -20px;
}

.serviceslink {
    font-family: sans-serif;
    color: #b8b8b8;
    text-decoration: none;
    display: inline;
    position: absolute;
    bottom: 25px;
    left: 556px;
}

.serviceslink:hover {
    border-bottom: 2px solid #b8b8b8;
}

.getintouchlink {
    font-family: sans-serif;
    color: #b8b8b8;
    text-decoration: none;
    display: inline;
    position: absolute;
    bottom: 25px;
    left: 967.4px;
}

.getintouchlink:hover {
    border-bottom: 2px solid #b8b8b8;
}

.main-topic {
    font-family: sans-serif;
    color: white;
    text-align: center;
}

.main-bg-pic {
    width: 1090px;
    height:620px;
    display: block;
    margin: 0 auto;
    user-select: none;
    pointer-events: none;
}

.wrw {
    display: block;
    position: relative;
    color: white;
    font-family: sans-serif;
    font-size: 35px;
    text-align: left;
    left: 300px;
    font-style: bold;
}

.pursuits {
    position: relative;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    text-align: left;
    left: 300px;
}

.recentworkandvaw {
    position: relative;
    color: white;
    font-family: sans-serif;
    font-size: 25px;
    text-align: left;
    left: 300px;
}

.rw-contents {
    display: inline;
    position: relative;
    left:10px;

}

.rwc1, .rwc2, .rwc3, .rwc4 {
    text-decoration:none;
}

.rwc1header {
    position: relative;
    bottom: 17px;
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 25px;
}

.rwc1b {
    display: inline;
    overflow: none;
    position: absolute;
    top: 2px;
    left: 2;
    border: 2px solid #888888;
    border-radius: 15px;
    width: 602px;
    height: 590px;
    overflow: hidden;
}

.rwc1p{
    max-width: 100%;
    height: auto; 
    border: 0.1px solid transparent;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.rwc2header {
    position: relative;
    bottom: 17px;
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 25px;
}

.rwc2b {
    display: inline;
    overflow: none;
    position: absolute;
    top: 2px;
    left: 660px;
    border: 2px solid #888888;
    border-radius: 15px;
    width: 602px;
    height: 590px;
    overflow: hidden;
}

.rwc2p{
    max-width: 100%;
    height: auto; 
    border: 0.1px solid transparent;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.rwc3header {
    position: relative;
    bottom: 17px;
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 25px;
}

.rwc3b {
    display: inline;
    overflow: none;
    position: absolute;
    top: 648px;
    left: 0px;
    border: 2px solid #888888;
    border-radius: 15px;
    width: 602px;
    height: 590px;
    overflow: hidden;
}

.rwc3p{
    max-width: 100%;
    height: auto; 
    border: 0.1px solid transparent;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.rwc4header {
    position: relative;
    bottom: 17px;
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 25px;
}

.rwc4b {
    display: inline;
    overflow: none;
    position: absolute;
    top: 648px;
    left: 660px;
    border: 2px solid #888888;
    border-radius: 15px;
    width: 602px;
    height: 590px;
    overflow: hidden;
}

.rwc4p{
    max-width: 100%;
    height: auto; 
    border: 0.1px solid transparent;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.vaw {
    text-align: center;
    color: white;
}

.pc-1b {
    border: 0;
    width: 1268px;
    height: 100px;
}

.pc-2b {
    border: 0;
    width: 1268px;
    height: 100px;
}

.pc-3b {
    border: 0;
    width: 1268px;
    height: 100px;
}

.pc-4b {
    border: 0;
    width: 1268px;
    height: 100px;
}

.pc-5b {
    border: 0;
    width: 1268px;
    height: 100px;
}


.cimg {
    position: relative;
    display: inline;
    width: 170px;
    height: 50px;
    border: 0;
    border-radius: 30px;
    left: 10px;
    top: 25px;
}

.pch {
    display: inline-block;
    position: relative;
    font-family: sans-serif;
    font-size: 40px;
    left: 250px;
    top: -10px;
}

.pcAr {
    display: inline-block;
    position: relative;
    font-family: sans-serif;
    font-size: 40px;
    left: 1090px;
    top: -10px;
}

.pchr {
    position: absolute;
    width: 1275px;
    left: 0;
}

.pch:hover {
    color:gray;
}

.cimg:hover {
    border: 3px dashed white;
}

.p-contents {
    position: relative;
    left:10px;
}

.rwc1b:hover {
    border: 2px solid rgb(255, 255, 255);
    transition: 0.8s;
}

.rwc1b:hover .rwc1header {
    font-size: 30px;
    transition: 0.2s;
    bottom: 28px;
}

.rwc2b:hover {
    border: 2px solid rgb(255, 255, 255);
    transition: 0.8s;
}

.rwc2b:hover .rwc2header {
    font-size: 27px;
    transition: 0.2s;
    bottom: 18px;
}


.rwc3b:hover {
    border: 2px solid rgb(255, 255, 255);
    transition: 0.8s;
}

.rwc3b:hover .rwc3header {
    font-size: 27px;
    transition: 0.2s;
    bottom: 18px;
}


.rwc4b:hover {
    border: 2px solid rgb(255, 255, 255);
    transition: 0.8s;
}

.rwc4b:hover .rwc4header {
    font-size: 30px;
    transition: 0.2s;
    bottom: 28px;
}

